<div id="<%= dom_id customerz %>">
  <p>
    <strong>Phone:</strong>
    <%= customerz.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customerz.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= customerz.active %>
  </p>

</div>
