<div id="<%= dom_id product_orderz %>">
  <p>
    <strong>Product quantity:</strong>
    <%= product_orderz.product_quantity %>
  </p>

  <p>
    <strong>Product unit cost:</strong>
    <%= product_orderz.product_unit_cost %>
  </p>

</div>
