<div id="<%= dom_id productz %>">
  <p>
    <strong>Name:</strong>
    <%= productz.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= productz.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= productz.cost %>
  </p>

</div>
