<div id="<%= dom_id addressez %>">
  <p>
    <strong>Street address:</strong>
    <%= addressez.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= addressez.city %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= addressez.postal_code %>
  </p>

</div>
